In [33]:
list_1 = ['1', '123', '123', '12', '1', '123']
list_2 = [2, 4, -2, -3, 0 , 11 , 3 -1]

dict_4 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
dict_5 = {'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e': 7, 'f': 8, 'g': 9}
dict_6 = {'e': 20, 'f': 21, 'g': 22, 'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

4.13) Используюя список l1 создать список, в ктором каждый элемент списка l1 будет заменен значением длинны строки соответствующего элемента в списке l1. Использовать генераторы, решить задачу в одну строку.

In [34]:
[len(i) for i in list_1]

[1, 3, 3, 2, 1, 3]

4.14) Подсчитать количество строк в списке l1, длина которых больше 2х. Использовать генераторы, решить задачу в одну строку.

In [35]:
len([i for i in list_1 if len(i)>2])

3

4.15) Просуммировать произведение ключей на значения словаря d4.

In [38]:
sum([k*v for k, v in dict_4.items()])

910

4.16) На базе словаря d6 составить словарь d7 в котором нет пар ключ-значение с ключами, встречающимися в словаре d5. Использовать генераторы, решить задачу в одну строку.

In [43]:
print(dict_6)
print(dict_5)
print({k: v for k, v in dict_6.items() if k not in dict_5.keys()})

{'e': 20, 'f': 21, 'g': 22, 'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}
{'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e': 7, 'f': 8, 'g': 9}
{'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

4.17) Создать список, в котором все числа списка l2 умножены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [56]:
list_5 = [2, 4, -2, -3, 'meow', 0, 11, 'hi', 2]
print([i*list_5[i] if isinstance(list_5[i], int) else list_5[i] for i in range(len(list_5))])

[0, 4, -4, -9, 'meow', 0, 66, 'hi', 16]

In [57]:
[item * index if isinstance(item, int) else item for index, item in enumerate(list_5)]

[0, 4, -4, -9, 'meow', 0, 66, 'hi', 16]

4.18) Создать список, в котором все отрицательные числа списка l2 исключены, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [67]:
print(list_5)
print([i for i in list_5 if isinstance(i, int) and i >= 0 or not isinstance(i, int)])

[2, 4, -2, -3, 'meow', 0, 11, 'hi', 2]
[2, 4, 'meow', 0, 11, 'hi', 2]

In [68]:
print([item for item in list_5 if not (isinstance(item, int) and item < 0)])

[2, 4, 'meow', 0, 11, 'hi', 2]

4.19) Создать список, в котором все отрицательные числа списка l2 заменены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы и тернарный оператор, решить задачу в одну строку.

In [69]:
print(list_5)
print([i if isinstance(list_5[i], int) and list_5[i] < 0 else list_5[i] for i in range(len(list_5))])

[2, 4, -2, -3, 'meow', 0, 11, 'hi', 2]
[2, 4, 2, 3, 'meow', 0, 11, 'hi', 2]

In [70]:
[index if isinstance(item, int) and item < 0  else item for index, item in enumerate(list_5)]

[2, 4, 2, 3, 'meow', 0, 11, 'hi', 2]

5.1) Написать задокументированную функцию умножения двух чисел. Для каких типов данная функция будет возвращать практически ценный результат? Написать примеры использования этой функции.

In [74]:
def multiply(a, b):
    '''
    Возвращает произведение двух чисел.
            Параметры:
                    a (int, float): первое число
                    b (int, float): второе число
            Возвращаемое значение:
                    int, float: произведение a и b
    '''
    return a * b

print(multiply.__doc__)

    Возвращает произведение двух чисел.
            Параметры:
                    a (int, float): первое число
                    b (int, float): второе число
            Возвращаемое значение:
                    int, float: произведение a и b

In [75]:
print(multiply(3, 4))
print(multiply(-3.0, 4))
print(multiply(-3, 4.0))
print(multiply(3.0, 4.0))

12
-12.0
-12.0
12.0

5.2) Написать функцию умножения принимающую от одного до трех параметров. Написать примеры использования этой функции с разным количеством параметров.

In [83]:
def multiply(a, b=None, c=None):
    if c:
        return a * b * c
    elif b:
        return a * b
    else:
        return a


print(multiply(3))
print(multiply(3, 6))
print(multiply(3, 6, 10))
print(multiply(3, 6, 10, 100))

3
18
180

TypeError: multiply() takes from 1 to 3 positional arguments but 4 were given

In [82]:
def multiply(*args):
    assert len(args) < 4
    res = 1
    for num in args:
        res *= num
    return res


print(multiply(3))
print(multiply(3, 6))
print(multiply(3, 6, 10))
print(multiply(3, 6, 10, 100))

3
18
180

AssertionError:

5.3) Функцию из задания 2 вызвать с приведенными ниже аргументами. Для случая a4 выбрать 3 первых и 3 последних значения.

In [84]:
arg_1 = (15, 10 ,5)
arg_2 = (3, 1)
arg_3 = [2, 35, 55]
arg_4 = (5, 10 ,15, 20)

In [90]:
print(multiply(*arg_1))
print(multiply(*arg_2))
print(multiply(*arg_3))
print(multiply(*arg_4[:3]))
print(multiply(*arg_4[-3:]))

750
3
3850
750
3000

5.4) Реализовать функцию умножения, принимающую неограниченное количество значений. Написать примеры использования этой функции, в том числе с аргументами из задания 3.

In [92]:
def multiply(*args):
    res = 1
    for num in args:
        res *= num
    return res


print(multiply(*arg_1))
print(multiply(*arg_2))
print(multiply(*arg_3))
print(multiply(*arg_4))
print(multiply(1,2,3,4,5,6))

750
3
3850
15000
720

5.5) Реализовать функции для выполнения четырех арифмитических операций преобразующих целые числа в целое число. Для двух заранее заданных целых чисел выполнить выбранную пользователем арифметическую операцию.

In [99]:
def int_sum(x, y):
    return x + y


def int_sub(x, y):
    return x - y


def int_mult(x, y):
    return x * y


def int_div(x, y):
    if y != 0:
        return x // y
    else:
        return 'Деление на ноль невозможно'


num_1 = 20
num_2 = 5

operation = input(f'Выберите операцию {num_1} (+, -, *, /) {num_2} : ')

if operation == '+':
    res = int_sum(num_1, num_2)
elif operation == '-':
    res = int_sub(num_1, num_2)
elif operation == '*':
    res = int_mult(num_1, num_2)
elif operation == '/':
    res = int_div(num_1, num_2)
else:
    res = 'Некорректная операция'

print(res)

Выберите операцию 20 (+, -, *, /) 5 : *
100

5.6) Написать калькулятор для строковых выражений вида '<число> <операция> <число>', где <число> - целое число, например 113, <арифмитическая операция> - одна из операций +,-,*,/(деление нацело),%(остаток от деления),^(возведение в степень). Пример calc('13 - 5') -> 8

In [116]:
print(eval('2^10'))

8

In [118]:
def my_calc(s_exp):
    s_exp = s_exp.replace('^','**')  # обязательно присвоить новое значение s_exp
    return eval(s_exp)


print(my_calc('2 ^ 10'))
print(my_calc('2 - 10'))
print(my_calc('2 + 10'))
print(my_calc('2%10'))
print(my_calc('2/10'))
print(my_calc('2*10'))

1024
-8
12
2
0.2
20

5.7) Реализовать функцию которая выводит на экран сообщение вида:
'Автомобиль марки: BMW, модели: X5, цвета: белый, 2006 года выпуска, с пробегом: 215 000 км, c номерным знаком: X012АМ77, цена: 1 115 000 руб.'
В функцию передаются именованные параметры изменяемой части сообщения, лубой из параметров может быть не задан пользователем функции и автоматически заменен на разумное сообщение в соответствующей части строки. Получить вывод текстового сообщения для словарей c1, c2.

In [119]:
def car_info(marque='не указана', model='не указана', color='не указан', year='не указан', mileage='не указан', plate='не указан', price='не указан'):
    print(f"Автомобиль марки: {marque}, модели: {model}, цвета: {color}, {year} года выпуска, с пробегом: {mileage} км, с номерным знаком: {plate}, цена: {price} руб.")


car_1 = {
    'marque': 'BMW',
    'model': 'X5',
    'color': 'белый',
    'year': '2006',
    'mileage': '215 000',
    'plate': 'X012AM77',
    'price': '1 115 000'
    }

car_2 = {
    'color': 'серебристый',
    'year': '2015',
    'price': '2 800 000'
    }

car_info(**car_1)
car_info(**car_2)

Автомобиль марки: BMW, модели: X5, цвета: белый, 2006 года выпуска, с пробегом: 215 000 км, с номерным знаком: X012AM77, цена: 1 115 000 руб.
Автомобиль марки: не указана, модели: не указана, цвета: серебристый, 2015 года выпуска, с пробегом: не указан км, с номерным знаком: не указан, цена: 2 800 000 руб.

5.8) Написать функцию, которая преобразует целое число (от 0 до 99) в текстовое написание числа на русском языке. Пример: to_text(15) -> 'Пятнадцать'

In [120]:
# целое число (от 0 до 9 900) # такой диапахон нужен для задачи 6.1 (99 * 99 = 9 801)
def to_text(int_number):
    numbers_dict = {0: '', 1: 'один', 2: 'два', 3: 'три', 4: 'четыре', 5: 'пять', 6: 'шесть', 7: 'семь', 
                    8: 'восемь', 9: 'девять', 10: 'десять', 11: 'одиннадцать', 12: 'двенадцать', 
                    13: 'тринадцать', 14: 'четырнадцать', 15: 'пятнадцать', 16: 'шестнадцать', 
                    17: 'семнадцать', 18: 'восемнадцать', 19: 'девятнадцать', 
                    20: 'двадцать', 30: 'тридцать', 40: 'сорок', 50: 'пятьдесят', 60: 'шестьдесят', 70: 'семьдесят', 
                    80: 'восемьдесят', 90: 'девяносто', 100: 'сто', 200: 'двести', 300: 'триста', 400: 'четыреста', 
                    500: 'пятьсот', 600: 'шестьсот', 700: 'семьсот', 800: 'восемьсот', 900: 'девятьсот',
                    1000: 'одна тысяча', 2000: 'две тысячи', 3000: 'три тысячи', 4000: 'четыре тысячи', 
                    5000: 'пять тысяч', 6000: 'шесть тысяч', 7000: 'семь тысяч', 
                    8000: 'восемь тысяч', 9000: 'девять тысяч'
                   }
    
    lst_number = [int(i) for i in str(int_number)[::-1]]
    match len(lst_number):  # делаем в списке всегда 4 элемента (каждый элемент - соответствующий разряд)
        case 1:
            if int_number == 0:
                return 'ноль'
            lst_number.append(0)
            lst_number.append(0)
            lst_number.append(0)
        case 2:
            lst_number.append(0)
            lst_number.append(0)
        case 3:
            lst_number.append(0)
        case 4:
            pass
        case _:
            return None
    # кажждому разряду сопостовляем нужный текст
    res = numbers_dict[lst_number[3]*1000] + ' ' +  numbers_dict[lst_number[2]*100] + ' ' + numbers_dict[lst_number[1]*10] + ' ' + numbers_dict[lst_number[0]] 
    return ' '.join(res.split())  #res.strip()  # удаляем лишние пробелы в начале и конце строки, лишние пробелы в строке

print(to_text(33))
print(to_text(30))
print(to_text(933))
print(to_text(930))
print(to_text(905))
print(to_text(3))
print(to_text(9301))
print(to_text(9030))
print(to_text(3001))

тридцать три
тридцать
девятьсот тридцать три
девятьсот тридцать
девятьсот пять
три
девять тысяч триста один
девять тысяч тридцать
три тысячи один

5.9) Написать функцию, которая преобразует целое число (от 0 до 999) из текстового представления на руссокм языке в число типа int. Пример: to_int('тридцать три') -> 33

In [27]:
# целое число (от 0 до 999)
def to_int(text_number):
    numbers_dict = {
        ' ': 0, 'ноль': 0, 'один': 1, 'два': 2, 'три': 3, 'четыре': 4, 
        'пять': 5, 'шесть': 6, 'семь': 7, 'восемь': 8, 'девять': 9,
        'десять': 10, 'одиннадцать': 11, 'двенадцать': 12, 'тринадцать': 13,
        'четырнадцать': 14, 'пятнадцать': 15, 'шестнадцать': 16, 'семнадцать': 17,
        'восемнадцать': 18, 'девятнадцать': 19, 'двадцать': 20, 'тридцать': 30,
        'сорок': 40, 'пятьдесят': 50, 'шестьдесят': 60, 'семьдесят': 70,
        'восемьдесят': 80, 'девяносто': 90, 'сто': 100, 'двести': 200,
        'триста': 300, 'четыреста': 400, 'пятьсот': 500, 'шестьсот': 600,
        'семьсот': 700, 'восемьсот': 800, 'девятьсот': 900
        }
    
    
    words = text_number.split()
    match len(words):  # делаем в списке всегда 3 элемента (каждый элемент - соответствующий десяток)
        case 1:
            words.append(' ')
            words.append(' ')
        case 2:
            words.append(' ')
        case 3:
            pass
        case _:
            return None
 
    return numbers_dict[words[2]] + numbers_dict[words[1]] + numbers_dict[words[0]]


print(to_int('тридцать три'))
print(to_int('тридцать'))
print(to_int('девятьсот тридцать три'))
print(to_int('девятьсот тридцать'))
print(to_int('три'))

33
30
933
930
3

6.1) Написать калькулятор для строковых выражений вида '<число> <операция> <число>', где <число> - не отрицательное целое число меньшее 100, записанное словами, например "тридцать четыре", <арифмитическая операция> - одна из операций "плюс","минус","умножить". Результат выполнения операции вернуть в виде текстового представления числа. Пример calc('двадцать пять плюс тринадцать') -> "тридцать восемь"

In [31]:
def my_calc(text_exp):
    if 'плюс' in text_exp:
        my_sep = 'плюс'
        operation = '+'
    elif 'умножить' in text_exp:
        my_sep = 'умножить'
        operation = '*'
    elif 'минус' in text_exp:
        my_sep = 'минус'
        operation = '-'
    else:  # строка не имеет вид '<число> <операция> <число>' -> возвращаем None
        return None
    
    lst_exp = text_exp.split(sep=my_sep)  # разделяем строку на два числа
    print(lst_exp)
    expression = str(to_int(lst_exp[0])) + operation + str(to_int(lst_exp[1]))  # строка где числа в числовой записи
    print(expression, end=' = ')
    int_res = eval(expression)  # получаем результат выражения
    print(int_res)
    return to_text(int_res)  # переводим ответ в текст
    
    
print(my_calc('тридцать четыре минус десять'))
print('-------------')
print(my_calc('два плюс тридцать четыре'))
print('-------------')
print(my_calc('девяносто девять умножить девяносто девять'))

['тридцать четыре ', ' десять']
34-10 = 24
двадцать четыре
-------------
['два ', ' тридцать четыре']
2+34 = 36
тридцать шесть
-------------
['девяносто девять ', ' девяносто девять']
99*99 = 9801
девять тысяч восемьсот  один